register page

<form method="post" action="handlePost">
    <label>Login: <input type="text" name="login"><br> </label>
    <label>Hasło: <input type="password" name="password"><br> </label>
    <label>Wiek: <input type="number" name="age" min="10" max="130"> <br></label>
    <label>Uczeń? <input type="checkbox" name="uczen"> <br></label>
    <label>Płeć <input type="radio" value="k" name="gender">k  <input type="radio" value="m" name="gender">m<br></label>
    <label> <input type="submit" name="submit" value="Wyślij"> <br></label>
</form>